{% extends 'blog/base.html' %}
{% load bootstrap3 %}

{% block content %}
	<div class="table-responsive">
		<p> <em> Tabla de Post Publicados </em> </p>
		<table class="table table-striped">
			<thead>
				<tr>
					<td><strong>Titulo: </strong><td>
					<td><strong>Texto: </strong></td>
					<td><strong>Categoria: </strong></td>
				<tr>
			</thead>
			<tbody>
				{% for post in listaPosts %}
				<tr>
					<td>{{post.title}}<td>
					<td>{{post.text}} </td>
					<td> {{post.categoria_post}} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<p> <em> Listado de Post Publicados </em> </p>
		<ul>
			{% for post in listaPosts %}
				<li><b>Titulo:</b> {{post.title}} </li>
				<li><b>Texto:</b> {{post.text}} </li>
				<li><b>Categoria:</b> {{post.categoria_post}} </li>
			{% endfor %}
		</ul>
			{% endblock %}
	</div>
